# Ignore everything in this directory
/*

# Except for the src directory
!/src/

# And this .gitignore file itself
!/.gitignore

# gemini-cli settings
.gemini/

# GitHub App credentials
gha-creds-*.json